body{

    background-image: linear-gradient(orangered, violet), url("https://images.unsplash.com/photo-1504639725590-34d0984388bd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=667&q=80");
    height: 200vh;
    width: 200vh;
    background-size:cover;
    background-position:center;
}


.form{
    position: relative;
    z-index:1;
    /*border-radius: 35px;*/
    background: white;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 35px;
    text-align: left;
}
.form input{
    font-family: "Arial", san-serif;
    outline: 1;
    /*border-radius: 35px;*/
    background: whitesmoke;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button{
    font-family: "Arial", san-serif;
    text-transform: uppercase;
    /*border-radius: 35px;*/
    outline: 0;
    background: orangered;
    border: 0;
    padding: 16px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
    
}

.form button:hover,.form button:active{
    background: orangered;
}

.form .message{
    font-family: "Arial", san-serif;
    margin: 15px 0 0;
    color: black;
    font-size: 15px;
}
.form .message a{
    color: orangered;
    text-decoration: underline;
    font-size: 15px
}

.form .register-form{
    display: none;
}




